body {
    --color1: #a3a380ff;
    --color2: #d6ce93ff;
    --color3: #efebceff;
    --color4: #d8a48fff;
    --color5: #bb8588ff;

    background-color: pink;

    font-family: 'Rowdies', cursive;
}
header {
    background-color: var(--color3);
}

img {
    width: 200px;
    height: 200px;
}
main {
    background-color: var(--color5) ;
}